body { 
  padding-top: 5rem;
  background-color: #e8d08630;
  
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo img{
  width: 100%;
  max-width: 62px;
  padding-right: 1em; 
}
h1 { 
  margin: 0;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.gallery img {
              width: 300px
}
.carousel-item img {
  margin: 0 auto;
  width: 80%;
}

.boxes {
  text-align: center;
}

.boxes .desc {
  height: 80px;
}

footer {
  padding-top: 100px;
  background: #a21624d9;
  margin-top: 7em;
}

#mynav{
  background: #a21624d9;
  margin: 0 0 30px;
}
#mynav .text-muted {
  color: white !important;
}